body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
}
.imagedefond
{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    height: 100%;
}

.main  
{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    font-size: 1rem;
    background-color: rgb(0, 0, 0);
    height: 55rem;
    width: 65rem;
    margin: 5em auto;
    
}
                        /*page 1 */
.html1header
{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    background-color:rgb(255, 255, 255);
    height: 5rem;
    display:flex;
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
}

#titre h1 
{
    
    color: rgb(255, 255, 255);
    text-align: center;
    padding-left: 20rem ;
    padding-right: auto;
    padding-top: 2rem;
}
#definition
{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    margin-bottom: 0;
    height: fit-content;
}

#definition h2
{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    text-align: center;
    font-size: small;
    color: rgb(0, 0, 0);
}

.navbar
{
    border-radius: 5 px;
    border: solid;
    background-color: rgb(85, 85, 85);
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a
{
    color: rgb(255, 123, 0);
}

.navbar .logo
{
    color: white;
    position: relative;
    left: 2em;
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-links ul
{
    display: flex;
}

.navbar .nav-links ul li
{
    margin:0 1.5rem;
}

.navbar .nav-links ul li.active a
{
    color:rgb(238, 255, 0);
    font-weight:600;
}

#Inscription
{
    margin-top: 2em;
    margin-left: 43.1em;
    position: relative;
    text-align: center;
    width: 30rem;
    border-color: dimgray;
    font-size: small;
    border: 2px;
    border-style: solid;
    border-radius: 1em;
}

#Inscription h2
{
    color: white;
    font-size: larger;
    text-align: center;
    
}

#Inscription h3
{
    text-align: justify;
    text-align: center;
    color: white;
    width: 30rem;
    font-size: larger;
    position: relative;
}

#Inscription p
{
    color: white;
    width:30rem;
    position: relative;
    display: flex;
}

#info
{
    text-align: center;
    position: relative;
    width: 30rem;
    border-color: dimgray;
    font-size: small;
    border: 2px;
    border-style: solid;
    border-radius: 1em;
    bottom: 12.5rem;
}

#info h2
{
    text-align: center;
    font-size: larger;
    color: white;
    width: 30rem;
}

#info p
{
    text-align: center;
    font-size:larger;
    color: white;
    width: 30rem;
}

#ville
{
    color:rgb(0, 60, 255);
}

#info span
{
    color: rgb(0, 0, 0);
    font-style: italic ;
    font-weight: bold;
}

#compet
{
    position: relative;
    border-color: dimgray;
    font-size: small;
    border: 2px;
    border-style:solid;
    border-radius: 1em;
    top: 11.5em;
}

#compet h2
{
    text-align: center;
    color: white;
    text-align: center;
    font-size: 25px;
}

#compet a
{
    font-size: x-large;
    margin-left: 17.5em;
}

/* IMAGE 1 */

.image1
{ 
    border: black;
    border-style: solid;
    border-radius: 1em;
    position:absolute;
    left: 22em;
    top: 15em;
}

/* LOGO */
.logo1
{
    position: absolute;
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX24284989.jpg);
    top: 0;
    left: 0;
}
/* logo grapp*/
.logo2
{
    position: absolute;
    top: 0;
    right: 0;
}

                        /*page 2*/

.debutant
{
    color: white;
    background-image: url(https://img.freepik.com/premium-vector/abstract-triple-gold-light-line-arrow-direction-dark-grey-modern-luxury-futuristic-background_33869-1721.jpg);
    display: inline-block;
    margin-top: 0rem;
    margin-left: 0;
    position: relative;
    text-align: left;
    width: 33%;
    border-color: rgb(255, 255, 255);
    border: 2px;
    border-style: solid;
    border-radius: 1em;
    height: 25%;
    float: none;
    bottom: 2rem;
}
.debutant h4
{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.intermédiaire
{
    text-align: left;
    color: white;
    background-image: url(https://img.freepik.com/premium-vector/abstract-triple-gold-light-line-arrow-direction-dark-grey-modern-luxury-futuristic-background_33869-1721.jpg);
    display: inline-block;
    margin-top: 0rem;
    margin-left: 0;
    position: relative;
    width: 25%;
    border-color: rgb(255, 255, 255);
    border: 2px;
    border-style: solid;
    border-radius: 1em;
    margin: auto;
    float: none;
    left: 27rem;
    top: 2rem;
}

.intermédiaire h4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.confirmé
{
    color: white;
    background-image: url(https://img.freepik.com/premium-vector/abstract-triple-gold-light-line-arrow-direction-dark-grey-modern-luxury-futuristic-background_33869-1721.jpg);    display: inline-block;
    margin-top: 0rem;
    margin-left: 0;
    position: relative;
    text-align: center;
    width: 33%;
    border-color: rgb(255, 255, 255);
    font-size: small;
    border: 2px;
    border-style: solid;
    border-radius: 1em;
    height: 25%;
    float: none;
    top: 23rem;
}
.confirmé h4
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact
{
    color: white;
    top:10rem;
    margin:auto;
    position: relative;
    text-align: center;
    width: 50%;
    border-color: rgb(255, 255, 255);
    font-size: small;
    border: 2px;
    border-style: solid;
    border-radius: 1em;
}