body
{
    font-size: 1rem;
    text-align: center;
    background-color: dimgray;
}

.main  
{
    font-size: 1rem;
    text-align: center;
    background-color: darkorange;
    height: 150rem;
    width: 65rem;
    margin: 5em auto;
    
}
                        /*page 1 */
.html1header
{
    background-color: darkorange;
    height: 5rem;
    display:flex;
    position: relative;
    top: 0;
    right: 0;
    text-align: center;
}

#titre h1 
{
    
    color: white;
    text-align: center;
    padding-left: 20rem ;
    padding-right: auto;
    padding-top: 2rem;
}
#definition h2
{
    font-size: small;
    color: white;
}
.navbar
{
    border-radius: 5px;
    border: solid;
    background-color: rgb(85, 85, 85);
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}
.navbar a
{
    color: white;
}

.navbar .logo
{
    font-size: 2rem;
    font-weight: bold;
}
.navbar .nav-links ul
{
    display: flex;
}
.navbar .nav-links ul li
{
    margin:0 1.5rem;
}
.navbar .nav-links ul li.active a
{
    color:rgb(238, 255, 0);
    font-weight:600;
}

